In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('StudentsPerformance.csv')
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [3]:
gr1=df.groupby(by='lunch')
gr1

In [4]:
gr1.groups

{'free/reduced': Int64Index([  3,   7,   8,   9,  17,  18,  19,  21,  24,  25,
             ...
             976, 980, 988, 989, 990, 992, 993, 996, 997, 999],
            dtype='int64', length=355),
 'standard': Int64Index([  0,   1,   2,   4,   5,   6,  10,  11,  12,  13,
             ...
             982, 983, 984, 985, 986, 987, 991, 994, 995, 998],
            dtype='int64', length=645)}

In [5]:
gr1=df.groupby(['lunch','race/ethnicity'])

In [6]:
gr1

In [7]:
gr1.groups

{('free/reduced',
  'group A'): Int64Index([  3,  25,  61,  62,  72,  82, 228, 300, 327, 365, 368, 384, 395,
             402, 428, 433, 442, 444, 467, 468, 489, 490, 575, 688, 705, 731,
             741, 769, 805, 811, 830, 892, 902, 943, 972, 988],
            dtype='int64'),
 ('free/reduced',
  'group B'): Int64Index([  7,   9,  17,  21,  39,  43,  68,  75,  81, 108, 116, 157, 160,
             162, 167, 176, 178, 188, 198, 199, 208, 209, 218, 279, 288, 295,
             308, 335, 338, 396, 424, 461, 507, 514, 519, 551, 558, 564, 568,
             578, 596, 621, 626, 636, 642, 667, 704, 715, 722, 730, 737, 744,
             772, 775, 782, 818, 823, 838, 842, 843, 856, 882, 896, 897, 914,
             923, 948, 976, 980],
            dtype='int64'),
 ('free/reduced',
  'group C'): Int64Index([ 18,  19,  40,  54,  55,  59,  73,  86,  91,  93,
             ...
             908, 913, 921, 929, 930, 933, 940, 963, 996, 997],
            dtype='int64', length=114),
 ('free/reduced',
  'group D'): Int64Index([  8,  24,  37,  38,  48,  66,  70,  84,  98, 110, 123, 134, 159,
             201, 210, 236, 240, 251, 265, 272, 282, 283, 294, 299, 301, 309,
             319, 339, 348, 358, 363, 377, 408, 422, 437, 446, 457, 466, 481,
             486, 497, 504, 512, 528, 541, 553, 563, 567, 569, 582, 603, 604,
             610, 628, 641, 658, 662, 671, 678, 679, 687, 695, 709, 721, 728,
             758, 780, 791, 792, 806, 817, 821, 828, 840, 844, 862, 883, 888,
             889, 903, 904, 910, 920, 924, 927, 931, 932, 935, 947, 961, 973,
             989, 992, 993, 999],
            dtype='int64'),
 ('free/reduced',
  'group E'): Int64Index([ 32,  44,  51,  60, 132, 142, 149, 156, 161, 197, 216, 225, 269,
             375, 383, 390, 419, 545, 566, 624, 647, 689, 691, 719, 734, 757,
             786, 795, 797, 807, 822, 861, 868, 873, 895, 926, 928, 937, 949,
             952, 990],
            dtype='int64'),
 ('standard',
  'group A'): Int64Index([ 13,  14,  46,  77,  88, 112, 129, 143, 150, 151, 170, 250, 296,
             305, 356, 378, 379, 401, 423, 464, 483, 506, 511, 539, 546, 571,
             576, 586, 589, 591, 597, 614, 623, 635, 651, 653, 697, 702, 778,
             810, 816, 820, 832, 837, 851, 911, 936, 960, 966, 974, 983, 985,
             994],
            dtype='int64'),
 ('standard',
  'group B'): Int64Index([  0,   2,   5,   6,  12,  26,  31,  42,  45,  65,
             ...
             867, 870, 872, 906, 919, 944, 946, 969, 982, 991],
            dtype='int64', length=121),
 ('standard',
  'group C'): Int64Index([  1,   4,  10,  15,  16,  23,  27,  28,  41,  47,
             ...
             954, 956, 959, 967, 971, 975, 977, 979, 984, 986],
            dtype='int64', length=205),
 ('standard',
  'group D'): Int64Index([ 11,  20,  22,  29,  30,  33,  36,  53,  57,  58,
             ...
             941, 951, 957, 958, 964, 965, 970, 978, 981, 998],
            dtype='int64', length=167),
 ('standard',
  'group E'): Int64Index([ 34,  35,  50,  56,  76,  79,  83,  97, 107, 114, 124, 137, 164,
             171, 182, 186, 190, 206, 207, 214, 233, 241, 243, 246, 255, 263,
             277, 286, 289, 293, 297, 306, 321, 332, 349, 351, 370, 385, 386,
             392, 411, 415, 451, 458, 462, 476, 479, 499, 503, 517, 525, 532,
             533, 538, 554, 574, 581, 592, 593, 602, 608, 616, 638, 643, 676,
             685, 686, 700, 711, 725, 726, 727, 751, 755, 779, 793, 798, 802,
             813, 836, 845, 852, 853, 881, 884, 886, 890, 891, 894, 909, 915,
             916, 925, 950, 955, 962, 968, 987, 995],
            dtype='int64')}

In [9]:
for lunch,df in gr1:
    print(lunch)
    print(df)

('free/reduced', 'group A')
     gender race/ethnicity parental level of education         lunch  \
3      male        group A          associate's degree  free/reduced
25     male        group A             master's degree  free/reduced
61     male        group A            some high school  free/reduced
62     male        group A          associate's degree  free/reduced
72   female        group A          associate's degree  free/reduced
82     male        group A                some college  free/reduced
228    male        group A            some high school  free/reduced
300    male        group A                some college  free/reduced
327    male        group A                some college  free/reduced
365    male        group A           bachelor's degree  free/reduced
368  female        group A            some high school  free/reduced
384  female        group A            some high school  free/reduced
395    male        group A                 high school  free/reduced
402  female        group A                some college  free/reduced
428    male        group A            some high school  free/reduced
433  female        group A            some high school  free/reduced
442  female        group A            some high school  free/reduced
444    male        group A            some high school  free/reduced
467    male        group A                 high school  free/reduced
468  female        group A                 high school  free/reduced
489    male        group A          associate's degree  free/reduced
490  female        group A          associate's degree  free/reduced
575    male        group A          associate's degree  free/reduced
688    male        group A                 high school  free/reduced
705    male        group A           bachelor's degree  free/reduced
731    male        group A            some high school  free/reduced
741  female        group A          associate's degree  free/reduced
769    male        group A                some college  free/reduced
805    male        group A                some college  free/reduced
811    male        group A                 high school  free/reduced
830  female        group A                some college  free/reduced
892  female        group A             master's degree  free/reduced
902  female        group A                 high school  free/reduced
943    male        group A            some high school  free/reduced
972  female        group A                 high school  free/reduced
988  female        group A            some high school  free/reduced

    test preparation course  math score  reading score  writing score
3                      none          47             57             44
25                     none          73             74             72
61                     none          39             39             34
62                     none          62             61             55
72                     none          41             51             48
82                completed          50             47             54
228                    none          68             72             64
300               completed          81             78             81
327                    none          28             23             19
365               completed          49             58             60
368                    none          44             64             58
384                    none          38             43             43
395                    none          48             45             41
402                    none          49             65             55
428                    none          65             59             53
433                    none          47             59             50
442                    none          59             73             69
444                    none          79             82             73
467               completed          72             67             65
468               completed          77             88             85
489               completed          79             82             82
490                    none          65             85             76
575               completed          40             55             53
688                    none          53             58             44
705                    none          62             72             65
731                    none          55             46             43
741                    none          37             57             56
769                    none          58             60             57
805                    none          75             81             74
811                    none          45             47             49
830                    none          61             60             57
892                    none          50             67             73
902               completed          34             48             41
943               completed          61             62             61
972               completed          53             50             60
988                    none          44             45             45
('free/reduced', 'group B')
     gender race/ethnicity parental level of education         lunch  \
7      male        group B                some college  free/reduced
9    female        group B                 high school  free/reduced
17   female        group B            some high school  free/reduced
21   female        group B                some college  free/reduced
39     male        group B          associate's degree  free/reduced
..      ...            ...                         ...           ...
914  female        group B          associate's degree  free/reduced
923  female        group B          associate's degree  free/reduced
948    male        group B            some high school  free/reduced
976    male        group B                some college  free/reduced
980  female        group B                 high school  free/reduced

    test preparation course  math score  reading score  writing score
7                      none          40             43             39
9                      none          38             60             50
17                     none          18             32             28
21                completed          65             75             70
39                     none          57             56             57
..                      ...         ...            ...            ...
914                    none          46             61             55
923                    none          54             65             65
948               completed          49             50             52
976               completed          60             62             60
980                    none           8             24             23

[69 rows x 8 columns]
('free/reduced', 'group C')
     gender race/ethnicity parental level of education         lunch  \
18     male        group C             master's degree  free/reduced
19   female        group C          associate's degree  free/reduced
40     male        group C          associate's degree  free/reduced
54   female        group C            some high school  free/reduced
55   female        group C                 high school  free/reduced
..      ...            ...                         ...           ...
933    male        group C           bachelor's degree  free/reduced
940    male        group C             master's degree  free/reduced
963  female        group C            some high school  free/reduced
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced

    test preparation course  math score  reading score  writing score
18                completed          46             42             46
19                     none          54             58             61
40                     none          55             61             54
54                completed          71             84             87
55                     none          33             41             43
..                      ...         ...            ...            ...
933               completed          70             75             74
940               completed          72             66             72
963               completed          65             76             75
996                    none          62             55             55
997               completed          59             71             65

[114 rows x 8 columns]
('free/reduced', 'group D')
     gender race/ethnicity parental level of education         lunch  \
8      male        group D                 high school  free/reduced
24     male        group D           bachelor's degree  free/reduced
37   female        group D            some high school  free/reduced
38   female        group D          associate's degree  free/reduced
48   female        group D          associate's degree  free/reduced
..      ...            ...                         ...           ...
973  female        group D                some college  free/reduced
989  female        group D                some college  free/reduced
992  female        group D          associate's degree  free/reduced
993  female        group D           bachelor's degree  free/reduced
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
8                 completed          64             64             67
24                completed          74             71             80
37                     none          50             64             59
38                completed          75             90             88
48                completed          57             74             76
..                      ...         ...            ...            ...
973                    none          49             65             61
989               completed          67             86             83
992                    none          55             76             76
993                    none          62             72             74
999                    none          77             86             86

[95 rows x 8 columns]
('free/reduced', 'group E')
     gender race/ethnicity parental level of education         lunch  \
32   female        group E             master's degree  free/reduced
44   female        group E          associate's degree  free/reduced
51     male        group E          associate's degree  free/reduced
60     male        group E           bachelor's degree  free/reduced
132    male        group E                some college  free/reduced
142  female        group E                some college  free/reduced
149    male        group E          associate's degree  free/reduced
156  female        group E                 high school  free/reduced
161  female        group E                some college  free/reduced
197    male        group E                 high school  free/reduced
216  female        group E          associate's degree  free/reduced
225  female        group E             master's degree  free/reduced
269  female        group E                some college  free/reduced
375    male        group E          associate's degree  free/reduced
383  female        group E            some high school  free/reduced
390    male        group E            some high school  free/reduced
419    male        group E                 high school  free/reduced
545    male        group E            some high school  free/reduced
566  female        group E           bachelor's degree  free/reduced
624  female        group E           bachelor's degree  free/reduced
647  female        group E                 high school  free/reduced
689    male        group E                some college  free/reduced
691  female        group E          associate's degree  free/reduced
719    male        group E          associate's degree  free/reduced
734  female        group E                some college  free/reduced
757    male        group E           bachelor's degree  free/reduced
786  female        group E            some high school  free/reduced
795  female        group E          associate's degree  free/reduced
797  female        group E          associate's degree  free/reduced
807  female        group E                 high school  free/reduced
822    male        group E                some college  free/reduced
861  female        group E             master's degree  free/reduced
868    male        group E          associate's degree  free/reduced
873    male        group E          associate's degree  free/reduced
895  female        group E            some high school  free/reduced
926    male        group E          associate's degree  free/reduced
928    male        group E          associate's degree  free/reduced
937  female        group E                 high school  free/reduced
949  female        group E                 high school  free/reduced
952  female        group E            some high school  free/reduced
990    male        group E                 high school  free/reduced

    test preparation course  math score  reading score  writing score
32                     none          56             72             65
44                     none          50             56             54
51                completed          77             69             68
60                completed          79             74             72
132               completed          87             74             70
142               completed          42             55             54
149               completed         100            100             93
156               completed          66             74             78
161               completed          75             88             85
197                    none          55             56             51
216               completed          83             86             88
225                    none          45             56             54
269                    none          71             76             70
375                    none          46             43             41
383                    none          38             49             45
390               completed          73             67             59
419               completed          57             56             54
545               completed          78             83             80
566               completed          92            100            100
624                    none          61             58             62
647                    none          64             62             68
689                    none          93             90             83
691                    none          73             76             78
719               completed          91             73             80
734                    none          53             58             57
757               completed          70             68             72
786                    none          72             79             77
795               completed          57             68             73
797                    none          70             84             81
807                    none          41             45             40
822               completed          49             52             51
861                    none          81             86             87
868               completed          78             74             72
873                    none          90             90             82
895                    none          32             34             38
926                    none          64             56             52
928               completed          46             43             44
937                    none          57             58             57
949               completed          57             75             73
952                    none          74             74             72
990               completed          86             81             75
('standard', 'group A')
     gender race/ethnicity parental level of education     lunch  \
13     male        group A                some college  standard
14   female        group A             master's degree  standard
46   female        group A          associate's degree  standard
77     male        group A           bachelor's degree  standard
88   female        group A                some college  standard
112    male        group A          associate's degree  standard
129  female        group A           bachelor's degree  standard
143    male        group A                 high school  standard
150    male        group A            some high school  standard
151    male        group A           bachelor's degree  standard
170    male        group A                 high school  standard
250    male        group A            some high school  standard
296    male        group A            some high school  standard
305    male        group A                some college  standard
356    male        group A          associate's degree  standard
378  female        group A            some high school  standard
379    male        group A           bachelor's degree  standard
401    male        group A                some college  standard
423  female        group A            some high school  standard
464    male        group A           bachelor's degree  standard
483    male        group A                 high school  standard
506    male        group A                 high school  standard
511    male        group A            some high school  standard
539    male        group A          associate's degree  standard
546  female        group A            some high school  standard
571    male        group A           bachelor's degree  standard
576    male        group A                some college  standard
586  female        group A                 high school  standard
589  female        group A            some high school  standard
591    male        group A            some high school  standard
597    male        group A            some high school  standard
614  female        group A          associate's degree  standard
623    male        group A                some college  standard
635    male        group A                 high school  standard
651  female        group A                 high school  standard
653  female        group A          associate's degree  standard
697  female        group A           bachelor's degree  standard
702    male        group A           bachelor's degree  standard
778  female        group A                some college  standard
810    male        group A            some high school  standard
816  female        group A           bachelor's degree  standard
820  female        group A            some high school  standard
832    male        group A           bachelor's degree  standard
837  female        group A                 high school  standard
851  female        group A                 high school  standard
911  female        group A                some college  standard
936    male        group A          associate's degree  standard
960  female        group A                some college  standard
966    male        group A            some high school  standard
974  female        group A                some college  standard
983  female        group A                some college  standard
985    male        group A                 high school  standard
994    male        group A                 high school  standard

    test preparation course  math score  reading score  writing score
13                completed          78             72             70
14                     none          50             53             58

In [10]:
list(gr1)

[(('free/reduced', 'group A'),
       gender race/ethnicity parental level of education         lunch  \
  3      male        group A          associate's degree  free/reduced
  25     male        group A             master's degree  free/reduced
  61     male        group A            some high school  free/reduced
  62     male        group A          associate's degree  free/reduced
  72   female        group A          associate's degree  free/reduced
  82     male        group A                some college  free/reduced
  228    male        group A            some high school  free/reduced
  300    male        group A                some college  free/reduced
  327    male        group A                some college  free/reduced
  365    male        group A           bachelor's degree  free/reduced
  368  female        group A            some high school  free/reduced
  384  female        group A            some high school  free/reduced
  395    male        group A                 high school  free/reduced
  402  female        group A                some college  free/reduced
  428    male        group A            some high school  free/reduced
  433  female        group A            some high school  free/reduced
  442  female        group A            some high school  free/reduced
  444    male        group A            some high school  free/reduced
  467    male        group A                 high school  free/reduced
  468  female        group A                 high school  free/reduced
  489    male        group A          associate's degree  free/reduced
  490  female        group A          associate's degree  free/reduced
  575    male        group A          associate's degree  free/reduced
  688    male        group A                 high school  free/reduced
  705    male        group A           bachelor's degree  free/reduced
  731    male        group A            some high school  free/reduced
  741  female        group A          associate's degree  free/reduced
  769    male        group A                some college  free/reduced
  805    male        group A                some college  free/reduced
  811    male        group A                 high school  free/reduced
  830  female        group A                some college  free/reduced
  892  female        group A             master's degree  free/reduced
  902  female        group A                 high school  free/reduced
  943    male        group A            some high school  free/reduced
  972  female        group A                 high school  free/reduced
  988  female        group A            some high school  free/reduced

      test preparation course  math score  reading score  writing score
  3                      none          47             57             44
  25                     none          73             74             72
  61                     none          39             39             34
  62                     none          62             61             55
  72                     none          41             51             48
  82                completed          50             47             54
  228                    none          68             72             64
  300               completed          81             78             81
  327                    none          28             23             19
  365               completed          49             58             60
  368                    none          44             64             58
  384                    none          38             43             43
  395                    none          48             45             41
  402                    none          49             65             55
  428                    none          65             59             53
  433                    none          47             59             50
  442                    none          59             73             69
  444                    none          79             82             73
  467               completed          72             67             65
  468               completed          77             88             85
  489               completed          79             82             82
  490                    none          65             85             76
  575               completed          40             55             53
  688                    none          53             58             44
  705                    none          62             72             65
  731                    none          55             46             43
  741                    none          37             57             56
  769                    none          58             60             57
  805                    none          75             81             74
  811                    none          45             47             49
  830                    none          61             60             57
  892                    none          50             67             73
  902               completed          34             48             41
  943               completed          61             62             61
  972               completed          53             50             60
  988                    none          44             45             45  ),
 (('free/reduced', 'group B'),
       gender race/ethnicity parental level of education         lunch  \
  7      male        group B                some college  free/reduced
  9    female        group B                 high school  free/reduced
  17   female        group B            some high school  free/reduced
  21   female        group B                some college  free/reduced
  39     male        group B          associate's degree  free/reduced
  ..      ...            ...                         ...           ...
  914  female        group B          associate's degree  free/reduced
  923  female        group B          associate's degree  free/reduced
  948    male        group B            some high school  free/reduced
  976    male        group B                some college  free/reduced
  980  female        group B                 high school  free/reduced

      test preparation course  math score  reading score  writing score
  7                      none          40             43             39
  9                      none          38             60             50
  17                     none          18             32             28
  21                completed          65             75             70
  39                     none          57             56             57
  ..                      ...         ...            ...            ...
  914                    none          46             61             55
  923                    none          54             65             65
  948               completed          49             50             52
  976               completed          60             62             60
  980                    none           8             24             23

  [69 rows x 8 columns]),
 (('free/reduced', 'group C'),
       gender race/ethnicity parental level of education         lunch  \
  18     male        group C             master's degree  free/reduced
  19   female        group C          associate's degree  free/reduced
  40     male        group C          associate's degree  free/reduced
  54   female        group C            some high school  free/reduced
  55   female        group C                 high school  free/reduced
  ..      ...            ...                         ...           ...
  933    male        group C           bachelor's degree  free/reduced
  940    male        group C             master's degree  free/reduced
  963  female        group C            some high school  free/reduced
  996    male        group C                 high school  free/reduced
  997  female        group C                 high school  free/reduced

      test preparation course  math score  reading score  writing score
  18                completed          46             42             46
  19                     none          54             58             61
  40                     none          55             61             54
  54                completed          71             84             87
  55                     none          33             41             43
  ..                      ...         ...            ...            ...
  933               completed          70             75             74
  940               completed          72             66             72
  963               completed          65             76             75
  996                    none          62             55             55
  997               completed          59             71             65

  [114 rows x 8 columns]),
 (('free/reduced', 'group D'),
       gender race/ethnicity parental level of education         lunch  \
  8      male        group D                 high school  free/reduced
  24     male        group D           bachelor's degree  free/reduced
  37   female        group D            some high school  free/reduced
  38   female        group D          associate's degree  free/reduced
  48   female        group D          associate's degree  free/reduced
  ..      ...            ...                         ...           ...
  973  female        group D                some college  free/reduced
  989  female        group D                some college  free/reduced
  992  female        group D          associate's degree  free/reduced
  993  female        group D           bachelor's degree  free/reduced
  999  female        group D                some college  free/reduced

      test preparation course  math score  reading score  writing score
  8                 completed          64             64             67
  24                completed          74             71             80
  37                     none          50             64             59
  38                completed          75             90             88
  48                completed          57             74             76
  ..                      ...         ...            ...            ...
  973                    none          49             65             61
  989               completed          67             86             83
  992                    none          55             76             76
  993                    none          62             72             74
  999                    none          77             86             86

  [95 rows x 8 columns]),
 (('free/reduced', 'group E'),
       gender race/ethnicity parental level of education         lunch  \
  32   female        group E             master's degree  free/reduced
  44   female        group E          associate's degree  free/reduced
  51     male        group E          associate's degree  free/reduced
  60     male        group E           bachelor's degree  free/reduced
  132    male        group E                some college  free/reduced
  142  female        group E                some college  free/reduced
  149    male        group E          associate's degree  free/reduced
  156  female        group E                 high school  free/reduced
  161  female        group E                some college  free/reduced
  197    male        group E                 high school  free/reduced
  216  female        group E          associate's degree  free/reduced
  225  female        group E             master's degree  free/reduced
  269  female        group E                some college  free/reduced
  375    male        group E          associate's degree  free/reduced
  383  female        group E            some high school  free/reduced
  390    male        group E            some high school  free/reduced
  419    male        group E                 high school  free/reduced
  545    male        group E            some high school  free/reduced
  566  female        group E           bachelor's degree  free/reduced
  624  female        group E           bachelor's degree  free/reduced
  647  female        group E                 high school  free/reduced
  689    male        group E                some college  free/reduced
  691  female        group E          associate's degree  free/reduced
  719    male        group E          associate's degree  free/reduced
  734  female        group E                some college  free/reduced
  757    male        group E           bachelor's degree  free/reduced
  786  female        group E            some high school  free/reduced
  795  female        group E          associate's degree  free/reduced
  797  female        group E          associate's degree  free/reduced
  807  female        group E                 high school  free/reduced
  822    male        group E                some college  free/reduced
  861  female        group E             master's degree  free/reduced
  868    male        group E          associate's degree  free/reduced
  873    male        group E          associate's degree  free/reduced
  895  female        group E            some high school  free/reduced
  926    male        group E          associate's degree  free/reduced
  928    male        group E          associate's degree  free/reduced
  937  female        group E                 high school  free/reduced
  949  female        group E                 high school  free/reduced
  952  female        group E            some high school  free/reduced
  990    male        group E                 high school  free/reduced

      test preparation course  math score  reading score  writing score
  32                     none          56             72             65
  44                     none          50             56             54
  51                completed          77             69             68
  60                completed          79             74             72
  132               completed          87             74             70
  142               completed          42             55             54
  149               completed         100            100             93
  156               completed          66             74             78
  161               completed          75             88             85
  197                    none          55             56             51
  216               completed          83             86             88
  225                    none          45             56             54
  269                    none          71             76             70
  375                    none          46             43             41
  383                    none          38             49             45
  390               completed          73             67             59
  419               completed          57             56             54
  545               completed          78             83             80
  566               completed          92            100            100
  624                    none          61             58             62
  647                    none          64             62             68
  689                    none          93             90             83
  691                    none          73             76             78
  719               completed          91             73             80
  734                    none          53             58             57
  757               completed          70             68             72
  786                    none          72             79             77
  795               completed          57             68             73
  797                    none          70             84             81
  807                    none          41             45             40
  822               completed          49             52             51
  861                    none          81             86             87
  868               completed          78             74             72
  873                    none          90             90             82
  895                    none          32             34             38
  926                    none          64             56             52
  928               completed          46             43             44
  937                    none          57             58             57
  949               completed          57             75             73
  952                    none          74             74             72
  990               completed          86             81             75  ),
 (('standard', 'group A'),
       gender race/ethnicity parental level of education     lunch  \
  13     male        group A                some college  standard
  14   female        group A             master's degree  standard
  46   female        group A          associate's degree  standard
  77     male        group A           bachelor's degree  standard
  88   female        group A                some college  standard
  112    male        group A          associate's degree  standard
  129  female        group A           bachelor's degree  standard
  143    male        group A                 high school  standard
  150    male        group A            some high school  standard
  151    male        group A           bachelor's degree  standard
  170    male        group A                 high school  standard
  250    male        group A            some high school  standard
  296    male        group A            some high school  standard
  305    male        group A                some college  standard
  356    male        group A          associate's degree  standard
  378  female        group A            some high school  standard
  379    male        group A           bachelor's degree  standard
  401    male        group A                some college  standard
  423  female        group A            some high school  standard
  464    male        group A           bachelor's degree  standard
  483    male        group A                 high school  standard
  506    male        group A                 high school  standard
  511    male        group A            some high school  standard
  539    male        group A          associate's degree  standard
  546  female        group A            some high school  standard
  571    male        group A           bachelor's degree  standard
  576    male        group A                some college  standard
  586  female        group A                 high school  standard
  589  female        group A            some high school  standard
  591    male        group A            some high school  standard
  597    male        group A            some high school  standard
  614  female        group A          associate's degree  standard
  623    male        group A                some college  standard
  635    male        group A                 high school  standard
  651  female        group A                 high school  standard
  653  female        group A          associate's degree  standard
  697  female        group A           bachelor's degree  standard
  702    male        group A           bachelor's degree  standard
  778  female        group A                some college  standard
  810    male        group A            some high school  standard
  816  female        group A           bachelor's degree  standard
  820  female        group A            some high school  standard
  832    male        group A           bachelor's degree  standard
  837  female        group A                 high school  standard
  851  female        group A                 high school  standard
  911  female        group A                some college  standard
  936    male        group A          associate's degree  standard

In [12]:
dict(list(gr1))

{('free/reduced',
  'group A'):      gender race/ethnicity parental level of education         lunch  \
 3      male        group A          associate's degree  free/reduced
 25     male        group A             master's degree  free/reduced
 61     male        group A            some high school  free/reduced
 62     male        group A          associate's degree  free/reduced
 72   female        group A          associate's degree  free/reduced
 82     male        group A                some college  free/reduced
 228    male        group A            some high school  free/reduced
 300    male        group A                some college  free/reduced
 327    male        group A                some college  free/reduced
 365    male        group A           bachelor's degree  free/reduced
 368  female        group A            some high school  free/reduced
 384  female        group A            some high school  free/reduced
 395    male        group A                 high school  free/reduced
 402  female        group A                some college  free/reduced
 428    male        group A            some high school  free/reduced
 433  female        group A            some high school  free/reduced
 442  female        group A            some high school  free/reduced
 444    male        group A            some high school  free/reduced
 467    male        group A                 high school  free/reduced
 468  female        group A                 high school  free/reduced
 489    male        group A          associate's degree  free/reduced
 490  female        group A          associate's degree  free/reduced
 575    male        group A          associate's degree  free/reduced
 688    male        group A                 high school  free/reduced
 705    male        group A           bachelor's degree  free/reduced
 731    male        group A            some high school  free/reduced
 741  female        group A          associate's degree  free/reduced
 769    male        group A                some college  free/reduced
 805    male        group A                some college  free/reduced
 811    male        group A                 high school  free/reduced
 830  female        group A                some college  free/reduced
 892  female        group A             master's degree  free/reduced
 902  female        group A                 high school  free/reduced
 943    male        group A            some high school  free/reduced
 972  female        group A                 high school  free/reduced
 988  female        group A            some high school  free/reduced

     test preparation course  math score  reading score  writing score
 3                      none          47             57             44
 25                     none          73             74             72
 61                     none          39             39             34
 62                     none          62             61             55
 72                     none          41             51             48
 82                completed          50             47             54
 228                    none          68             72             64
 300               completed          81             78             81
 327                    none          28             23             19
 365               completed          49             58             60
 368                    none          44             64             58
 384                    none          38             43             43
 395                    none          48             45             41
 402                    none          49             65             55
 428                    none          65             59             53
 433                    none          47             59             50
 442                    none          59             73             69
 444                    none          79             82             73
 467               completed          72             67             65
 468               completed          77             88             85
 489               completed          79             82             82
 490                    none          65             85             76
 575               completed          40             55             53
 688                    none          53             58             44
 705                    none          62             72             65
 731                    none          55             46             43
 741                    none          37             57             56
 769                    none          58             60             57
 805                    none          75             81             74
 811                    none          45             47             49
 830                    none          61             60             57
 892                    none          50             67             73
 902               completed          34             48             41
 943               completed          61             62             61
 972               completed          53             50             60
 988                    none          44             45             45  ,
 ('free/reduced',
  'group B'):      gender race/ethnicity parental level of education         lunch  \
 7      male        group B                some college  free/reduced
 9    female        group B                 high school  free/reduced
 17   female        group B            some high school  free/reduced
 21   female        group B                some college  free/reduced
 39     male        group B          associate's degree  free/reduced
 ..      ...            ...                         ...           ...
 914  female        group B          associate's degree  free/reduced
 923  female        group B          associate's degree  free/reduced
 948    male        group B            some high school  free/reduced
 976    male        group B                some college  free/reduced
 980  female        group B                 high school  free/reduced

     test preparation course  math score  reading score  writing score
 7                      none          40             43             39
 9                      none          38             60             50
 17                     none          18             32             28
 21                completed          65             75             70
 39                     none          57             56             57
 ..                      ...         ...            ...            ...
 914                    none          46             61             55
 923                    none          54             65             65
 948               completed          49             50             52
 976               completed          60             62             60
 980                    none           8             24             23

 [69 rows x 8 columns],
 ('free/reduced',
  'group C'):      gender race/ethnicity parental level of education         lunch  \
 18     male        group C             master's degree  free/reduced
 19   female        group C          associate's degree  free/reduced
 40     male        group C          associate's degree  free/reduced
 54   female        group C            some high school  free/reduced
 55   female        group C                 high school  free/reduced
 ..      ...            ...                         ...           ...
 933    male        group C           bachelor's degree  free/reduced
 940    male        group C             master's degree  free/reduced
 963  female        group C            some high school  free/reduced
 996    male        group C                 high school  free/reduced
 997  female        group C                 high school  free/reduced

     test preparation course  math score  reading score  writing score
 18                completed          46             42             46
 19                     none          54             58             61
 40                     none          55             61             54
 54                completed          71             84             87
 55                     none          33             41             43
 ..                      ...         ...            ...            ...
 933               completed          70             75             74
 940               completed          72             66             72
 963               completed          65             76             75
 996                    none          62             55             55
 997               completed          59             71             65

 [114 rows x 8 columns],
 ('free/reduced',
  'group D'):      gender race/ethnicity parental level of education         lunch  \
 8      male        group D                 high school  free/reduced
 24     male        group D           bachelor's degree  free/reduced
 37   female        group D            some high school  free/reduced
 38   female        group D          associate's degree  free/reduced
 48   female        group D          associate's degree  free/reduced
 ..      ...            ...                         ...           ...
 973  female        group D                some college  free/reduced
 989  female        group D                some college  free/reduced
 992  female        group D          associate's degree  free/reduced
 993  female        group D           bachelor's degree  free/reduced
 999  female        group D                some college  free/reduced

     test preparation course  math score  reading score  writing score
 8                 completed          64             64             67
 24                completed          74             71             80
 37                     none          50             64             59
 38                completed          75             90             88
 48                completed          57             74             76
 ..                      ...         ...            ...            ...
 973                    none          49             65             61
 989               completed          67             86             83
 992                    none          55             76             76
 993                    none          62             72             74
 999                    none          77             86             86

 [95 rows x 8 columns],
 ('free/reduced',
  'group E'):      gender race/ethnicity parental level of education         lunch  \
 32   female        group E             master's degree  free/reduced
 44   female        group E          associate's degree  free/reduced
 51     male        group E          associate's degree  free/reduced
 60     male        group E           bachelor's degree  free/reduced
 132    male        group E                some college  free/reduced
 142  female        group E                some college  free/reduced
 149    male        group E          associate's degree  free/reduced
 156  female        group E                 high school  free/reduced
 161  female        group E                some college  free/reduced
 197    male        group E                 high school  free/reduced
 216  female        group E          associate's degree  free/reduced
 225  female        group E             master's degree  free/reduced
 269  female        group E                some college  free/reduced
 375    male        group E          associate's degree  free/reduced
 383  female        group E            some high school  free/reduced
 390    male        group E            some high school  free/reduced
 419    male        group E                 high school  free/reduced
 545    male        group E            some high school  free/reduced
 566  female        group E           bachelor's degree  free/reduced
 624  female        group E           bachelor's degree  free/reduced
 647  female        group E                 high school  free/reduced
 689    male        group E                some college  free/reduced
 691  female        group E          associate's degree  free/reduced
 719    male        group E          associate's degree  free/reduced
 734  female        group E                some college  free/reduced
 757    male        group E           bachelor's degree  free/reduced
 786  female        group E            some high school  free/reduced
 795  female        group E          associate's degree  free/reduced
 797  female        group E          associate's degree  free/reduced
 807  female        group E                 high school  free/reduced
 822    male        group E                some college  free/reduced
 861  female        group E             master's degree  free/reduced
 868    male        group E          associate's degree  free/reduced
 873    male        group E          associate's degree  free/reduced
 895  female        group E            some high school  free/reduced
 926    male        group E          associate's degree  free/reduced
 928    male        group E          associate's degree  free/reduced
 937  female        group E                 high school  free/reduced
 949  female        group E                 high school  free/reduced
 952  female        group E            some high school  free/reduced
 990    male        group E                 high school  free/reduced

     test preparation course  math score  reading score  writing score
 32                     none          56             72             65
 44                     none          50             56             54
 51                completed          77             69             68
 60                completed          79             74             72
 132               completed          87             74             70
 142               completed          42             55             54
 149               completed         100            100             93
 156               completed          66             74             78
 161               completed          75             88             85
 197                    none          55             56             51
 216               completed          83             86             88
 225                    none          45             56             54
 269                    none          71             76             70
 375                    none          46             43             41
 383                    none          38             49             45
 390               completed          73             67             59
 419               completed          57             56             54
 545               completed          78             83             80
 566               completed          92            100            100
 624                    none          61             58             62
 647                    none          64             62             68
 689                    none          93             90             83
 691                    none          73             76             78
 719               completed          91             73             80
 734                    none          53             58             57
 757               completed          70             68             72
 786                    none          72             79             77
 795               completed          57             68             73
 797                    none          70             84             81
 807                    none          41             45             40
 822               completed          49             52             51
 861                    none          81             86             87
 868               completed          78             74             72
 873                    none          90             90             82
 895                    none          32             34             38
 926                    none          64             56             52
 928               completed          46             43             44
 937                    none          57             58             57
 949               completed          57             75             73
 952                    none          74             74             72
 990               completed          86             81             75  ,
 ('standard',
  'group A'):      gender race/ethnicity parental level of education     lunch  \
 13     male        group A                some college  standard
 14   female        group A             master's degree  standard
 46   female        group A          associate's degree  standard
 77     male        group A           bachelor's degree  standard
 88   female        group A                some college  standard
 112    male        group A          associate's degree  standard
 129  female        group A           bachelor's degree  standard
 143    male        group A                 high school  standard
 150    male        group A            some high school  standard
 151    male        group A           bachelor's degree  standard
 170    male        group A                 high school  standard
 250    male        group A            some high school  standard
 296    male        group A            some high school  standard
 305    male        group A                some college  standard
 356    male        group A          associate's degree  standard
 378  female        group A            some high school  standard
 379    male        group A           bachelor's degree  standard
 401    male        group A                some college  standard
 423  female        group A            some high school  standard
 464    male        group A           bachelor's degree  standard
 483    male        group A                 high school  standard
 506    male        group A                 high school  standard
 511    male        group A            some high school  standard
 539    male        group A          associate's degree  standard
 546  female        group A            some high school  standard
 571    male        group A           bachelor's degree  standard
 576    male        group A                some college  standard
 586  female        group A                 high school  standard
 589  female        group A            some high school  standard
 591    male        group A            some high school  standard
 597    male        group A            some high school  standard
 614  female        group A          associate's degree  standard
 623    male        group A                some college  standard
 635    male        group A                 high school  standard
 651  female        group A                 high school  standard
 653  female        group A          associate's degree  standard
 697  female        group A           bachelor's degree  standard
 702    male        group A           bachelor's degree  standard
 778  female        group A                some college  standard
 810    male        group A            some high school  standard
 816  female        group A           bachelor's degree  standard
 820  female        group A            some high school  standard
 832    male        group A           bachelor's degree  standard
 837  female        group A                 high school  standard
 851  female        group A                 high school  standard
 911  female        group A                some college  standard
 936    male        group A          associate's degree  standard
 960  female        group A                some college  standard
 966    male        group A            some high school  standard
 974  female        group A                some college  standard
 983  female        group A                some college  standard
 985    male        group A                 high school  standard

In [14]:
df.groupby('gender').get_group('male')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
34,male,group E,some college,standard,none,97,87,82
35,male,group E,associate's degree,standard,completed,81,81,79
50,male,group E,some college,standard,none,53,55,48
76,male,group E,some high school,standard,none,30,26,22
83,male,group E,associate's degree,standard,none,72,64,63
107,male,group E,associate's degree,standard,completed,66,63,64
124,male,group E,some college,standard,none,83,80,73
137,male,group E,high school,standard,none,70,55,56
171,male,group E,some high school,standard,none,94,88,78
186,male,group E,high school,standard,none,80,76,65
206,male,group E,bachelor's degree,standard,none,82,62,62
207,male,group E,high school,standard,completed,81,80,76
214,male,group E,high school,standard,completed,87,91,81
233,male,group E,some high school,standard,none,92,87,78
243,male,group E,some college,standard,none,59,51,43
246,male,group E,associate's degree,standard,none,89,76,74
286,male,group E,associate's degree,standard,completed,97,82,88
289,male,group E,some high school,standard,completed,77,76,77
297,male,group E,associate's degree,standard,completed,71,74,68
306,male,group E,some college,standard,completed,99,87,81
332,male,group E,associate's degree,standard,completed,62,56,53
349,male,group E,associate's degree,standard,none,87,74,76
351,male,group E,some college,standard,none,66,57,52
370,male,group E,some college,standard,none,84,77,71
392,male,group E,some college,standard,none,76,67,67
411,male,group E,some college,standard,completed,84,83,78
415,male,group E,high school,standard,none,84,73,69
476,male,group E,bachelor's degree,standard,completed,76,62,66
479,male,group E,associate's degree,standard,none,76,71,67
499,male,group E,some college,standard,none,76,71,72
525,male,group E,some college,standard,none,68,60,59
532,male,group E,associate's degree,standard,completed,62,61,58
538,male,group E,bachelor's degree,standard,completed,85,66,71
554,male,group E,associate's degree,standard,none,53,45,40
592,male,group E,bachelor's degree,standard,none,68,68,64
638,male,group E,some college,standard,none,86,76,74
686,male,group E,some college,standard,completed,85,75,68
725,male,group E,some college,standard,completed,81,74,71
727,male,group E,some high school,standard,completed,68,51,57
751,male,group E,some college,standard,none,68,72,65
779,male,group E,associate's degree,standard,completed,94,85,82
793,male,group E,some high school,standard,completed,89,84,77
798,male,group E,some college,standard,none,69,60,54
813,male,group E,some high school,standard,completed,87,84,76
836,male,group E,high school,standard,none,73,64,57
845,male,group E,master's degree,standard,none,90,85,84
853,male,group E,some high school,standard,none,82,67,61
909,male,group E,bachelor's degree,standard,completed,70,64,70
916,male,group E,bachelor's degree,standard,completed,100,100,100
925,male,group E,some high school,standard,completed,74,64,60
950,male,group E,high school,standard,none,94,73,71
955,male,group E,associate's degree,standard,none,72,57,62
987,male,group E,some high school,standard,completed,81,75,76

In [20]:
df.groupby('race/ethnicity')

In [21]:
gr1.sum()

                             math score  reading score  writing score
lunch        race/ethnicity
free/reduced group A               1988           2180           2059
             group B               3963           4414           4245
             group C               6431           7229           7001
             group D               5806           6311           6313
             group E               2729           2818           2755
standard     group A               3497           3576           3519
             group B               8093           8383           8219
             group C              14133          14815          14636
             group D              11843          12037          12065
             group E               7606           7406           7242

In [22]:
gr1.mean()

                             math score  reading score  writing score
lunch        race/ethnicity
free/reduced group A          55.222222      60.555556      57.194444
             group B          57.434783      63.971014      61.521739
             group C          56.412281      63.412281      61.412281
             group D          61.115789      66.431579      66.452632
             group E          66.560976      68.731707      67.195122
standard     group A          65.981132      67.471698      66.396226
             group B          66.884298      69.280992      67.925620
             group C          68.941463      72.268293      71.395122
             group D          70.916168      72.077844      72.245509
             group E          76.828283      74.808081      73.151515

In [23]:
gr1.describe()

                            math score                                     \
                                 count       mean        std   min    25%
lunch        race/ethnicity
free/reduced group A              36.0  55.222222  14.138319  28.0  44.75
             group B              69.0  57.434783  15.834139   8.0  49.00
             group C             114.0  56.412281  14.313068   0.0  47.25
             group D              95.0  61.115789  13.936683  26.0  52.00
             group E              41.0  66.560976  17.096855  32.0  55.00
standard     group A              53.0  65.981132  13.216381  45.0  56.00
             group B             121.0  66.884298  14.215127  19.0  58.00
             group C             205.0  68.941463  13.191890  29.0  59.00
             group D             167.0  70.916168  12.372440  40.0  62.50
             group E              99.0  76.828283  13.848333  30.0  68.00

                                                reading score             ...  \
                              50%    75%    max         count       mean  ...
lunch        race/ethnicity                                               ...
free/reduced group A         53.0  65.00   81.0          36.0  60.555556  ...
             group B         58.0  68.00   88.0          69.0  63.971014  ...
             group C         59.0  65.75   87.0         114.0  63.412281  ...
             group D         62.0  72.00   93.0          95.0  66.431579  ...
             group E         70.0  78.00  100.0          41.0  68.731707  ...
standard     group A         64.0  72.00  100.0          53.0  67.471698  ...
             group B         66.0  77.00   97.0         121.0  69.280992  ...
             group C         69.0  78.00   98.0         205.0  72.268293  ...
             group D         71.0  80.00  100.0         167.0  72.077844  ...
             group E         77.0  86.50  100.0          99.0  74.808081  ...

                                         writing score                        \
                              75%    max         count       mean        std
lunch        race/ethnicity
free/reduced group A         72.0   88.0          36.0  57.194444  14.471291
             group B         77.0   97.0          69.0  61.521739  17.368505
             group C         73.0   93.0         114.0  61.412281  14.021987
             group D         77.5  100.0          95.0  66.452632  15.035963
             group E         79.0  100.0          41.0  67.195122  15.416257
standard     group A         79.0  100.0          53.0  66.396226  15.134448
             group B         82.0   97.0         121.0  67.925620  14.091466
             group C         81.0  100.0         205.0  71.395122  14.326890
             group D         81.0  100.0         167.0  72.245509  13.575965
             group E         85.0  100.0          99.0  73.151515  14.713844


                              min    25%   50%   75%    max
lunch        race/ethnicity
free/reduced group A         19.0  47.25  56.5  66.0   85.0
             group B         15.0  52.00  63.0  76.0   94.0
             group C         10.0  53.00  61.5  70.0   93.0
             group D         32.0  56.50  67.0  77.5  100.0
             group E         38.0  54.00  70.0  78.0  100.0
standard     group A         36.0  54.00  65.0  77.0   97.0
             group B         32.0  57.00  68.0  78.0   96.0
             group C         30.0  62.00  73.0  82.0  100.0
             group D         36.0  63.00  73.0  81.0  100.0
             group E         22.0  65.50  73.0  81.5  100.0

[10 rows x 24 columns]

In [24]:
gr1.agg(['sum','max','min'])

                                                                        gender  \
                                                                           sum
lunch        race/ethnicity
free/reduced group A         malemalemalemalefemalemalemalemalemalemalefema...
             group B         malefemalefemalefemalemalemalemalemalemalefema...
             group C         malefemalemalefemalefemalefemalemalefemalemale...
             group D         malemalefemalefemalefemalemalefemalemalefemale...
             group E         femalefemalemalemalemalefemalemalefemalefemale...
standard     group A         malefemalefemalemalefemalemalefemalemalemalema...
             group B         femalefemalefemalefemalefemalemalefemalefemale...
             group C         femalemalemalefemalemalefemalefemalemalefemale...
             group D         malemalemalefemalefemalemalefemalemalemalemale...
             group E         malemalemalefemalemalefemalemalefemalemalefema...

                                           \
                              max     min
lunch        race/ethnicity
free/reduced group A         male  female
             group B         male  female
             group C         male  female
             group D         male  female
             group E         male  female
standard     group A         male  female
             group B         male  female
             group C         male  female
             group D         male  female
             group E         male  female

                                                   parental level of education  \
                                                                           sum
lunch        race/ethnicity
free/reduced group A         associate's degreemaster's degreesome high sch...
             group B         some collegehigh schoolsome high schoolsome co...
             group C         master's degreeassociate's degreeassociate's d...
             group D         high schoolbachelor's degreesome high schoolas...
             group E         master's degreeassociate's degreeassociate's d...
standard     group A         some collegemaster's degreeassociate's degreeb...
             group B         bachelor's degreemaster's degreeassociate's de...
             group C         some collegesome collegeassociate's degreesome...
             group D         associate's degreehigh schoolsome collegemaste...
             group E         some collegeassociate's degreesome collegeasso...

                                                                   \
                                          max                 min
lunch        race/ethnicity
free/reduced group A         some high school  associate's degree
             group B         some high school  associate's degree
             group C         some high school  associate's degree
             group D         some high school  associate's degree
             group E         some high school  associate's degree
standard     group A         some high school  associate's degree
             group B         some high school  associate's degree
             group C         some high school  associate's degree
             group D         some high school  associate's degree
             group E         some high school  associate's degree

                                                       test preparation course  \
                                                                           sum
lunch        race/ethnicity
free/reduced group A         nonenonenonenonenonecompletednonecompletednone...
             group B         nonenonenonecompletednonecompletednonenonenone...
             group C         completednonenonecompletednonenonenonenonenone...
             group D         completedcompletednonecompletedcompletednoneco...
             group E         nonenonecompletedcompletedcompletedcompletedco...
standard     group A         completednonecompletedcompletednonenonenonenon...
             group B         nonenonenonecompletednonenonenonenonenonenonen...
             group C         completednonenonenonenonenonenonenonenonenonec...
             group D         nonenonenonenonenonenonenonenonenonecompletedn...
             group E         nonecompletednonecompletednonenonenonecomplete...

                                             math score           \
                              max        min        sum  max min
lunch        race/ethnicity
free/reduced group A         none  completed       1988   81  28
             group B         none  completed       3963   88   8
             group C         none  completed       6431   87   0
             group D         none  completed       5806   93  26
             group E         none  completed       2729  100  32
standard     group A         none  completed       3497  100  45
             group B         none  completed       8093   97  19
             group C         none  completed      14133   98  29
             group D         none  completed      11843  100  40
             group E         none  completed       7606  100  30

                            reading score          writing score
                                      sum  max min           sum  max min
lunch        race/ethnicity
free/reduced group A                 2180   88  23          2059   85  19
             group B                 4414   97  24          4245   94  15
             group C                 7229   93  17          7001   93  10
             group D                 6311  100  31          6313  100  32
             group E                 2818  100  34          2755  100  38
standard     group A                 3576  100  31          3519   97  36
             group B                 8383   97  38          8219   96  32
             group C                14815  100  29         14636  100  30
             group D                12037  100  34         12065  100  36
             group E                 7406  100  26          7242  100  22